.st0{opacity:0.91;fill:#DADCAB;}
.st1{fill:#C9C8B4;}
.st2{opacity:0.91;fill:#DFDCD7;}
.st3{fill:url(#facet_x5F_of_x5F_cheese_1_);stroke:#F7F0A2;stroke-width:5;stroke-linejoin:round;stroke-miterlimit:10;}
.st4{fill:#6A7179;}
.st5{fill:#F8A174;}
.st6{fill:#FFFFFF;}
.st7{fill:#8E3026;}
.st8{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}
.st9{fill:url(#top_x5F_cheese_1_);stroke:#F7F0A2;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st10{fill:#EDBF2E;}
.st11{fill:#F9DA4B;stroke:#F7F0A2;stroke-width:5;stroke-miterlimit:10;}
.st12{fill:#F9DA4B;}
.st13{fill:#A8A999;}
.st14{fill:#727471;}